huggingface_hub==0.23.0
langchain==0.2.0
langchain_community==0.2.0
llama_index==0.10.37
pypdf==4.2.0
replicate==0.26.0
streamlit==1.31.0
torch==1.12.1
torch-geometric==2.1.0
-f https://data.pyg.org/whl/torch-1.12.1+cpu.html 8
torch-scatter==2.0.9
-f https://data.pyg.org/whl/torch-1.12.1+cpu.html 8
torch-sparse==0.6.16
