huggingface_hub==0.23.0
langchain==0.2.0
langchain_community==0.2.0
llama_index==0.10.37
pypdf==4.2.0
replicate==0.26.0
streamlit==1.31.0
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchlibrosa==0.0.9
torchsummary==1.5.1
torchvision==0.11.1+cu113
